:root{
    --white: #ffffff;
    --white-two: #d8d8d8;
    --black: #000000;
    --black-three: #333333;
    --warm-grey: #999999;
    --light-blue-grey: #e0c5ec;
    --brownish-grey: #656565;
    --light-teal: #a3e8d6;
    --medium-pink: #f650a0;
    --light-pink: #ffebf2;
    --buff: #fcfa96;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Style for header tag*/
.header{
    background-color: var(--light-pink);
    height: 70px;
    padding:  18px 151px 17px 150px;
}
.header-img{
    width: 128px;
    height: 35px;
}

.nav-flex{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links .item{
    margin: 0 10px;
}

.item > .link-item{
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.item > .link-item:hover{
    text-decoration: none;
    color: var(--medium-pink);
}

.link-language{
    margin: 0 5px;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.active, .link-language:hover{
    color: var(--medium-pink);
    text-decoration: none;
}
.language{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.img-shop{
    padding: 5px;
}
.count-number{
    color: var(--medium-pink);
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: var(--black);
    margin: 5px;
    transition: all 0.3s ease;
}
/*first section*/
.location{
    background-image: url("../assets/line.svg");
    background-size: cover;
    height: 371px;
    width: 100%;
}
.text__pos-absolute{
    position: absolute;
    top: 20%;
}
.location-title{
    font-size: 55px;
    height: 80px;
    text-align: left;
    font-weight: bold;
}
.location-text{
    width: 788px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05px;
}
.breadcrumb-bottom{
    margin-top: 39px;
}
.breadcrumb{
    background-color: transparent;
    font-size: 12px;
    padding: 10px 0;
}
.breadcrumb-link{
    color: var(--warm-grey);
}
.breadcrumb-link:hover{
    color: var(--warm-grey);
    text-decoration: none;
}
.breadcrumb-item.active{
    color: var(--black);
}
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--warm-grey);
    content: ">>";
}
/*Second section*/
.contact{
    padding: 25px 42px;
    text-align: left;
}
.image-size{
    height: 92%;
}
.image-size-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map-details{
    margin-bottom: 43px;
    height: 397px;
    border-radius: 5px; 
    box-shadow: 1px 1px 9px rgba(0, 35, 64, 0.2);
}
.work-datetime{
    width: 269px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 18px;
}
.contact-title{
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-place{
    margin-top: 8px;
    width: 269px;
    font-size: 14px;
    line-height: 18px;    
    text-decoration: underline;
}

.contact-place-text{
    margin: 0;
}

.place-name{
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
}
.line-height{
    line-height: 30px;
}
.color--light-pink{
    padding: 3px 8px 1px 7px;
    font-weight: bold;
    background-color: var(--light-pink);
    text-transform: uppercase;
    border-radius: 3px;
}
.color--buff{
    padding: 3px 8px 1px 7px;
    margin-left: 9px;
    font-weight: bold;
    background-color: var(--buff);
    text-transform: uppercase;
    border-radius: 3px;
}
.color--light-teal{
    padding: 3px 8px 1px 7px;
    margin-top: 10px;
    font-weight: bold;
    background-color: var(--light-teal);
    text-transform: uppercase;
    border-radius: 3px;
}
.color-blue-grey{
    padding: 3px 8px 1px 7px;
    margin-left: 9px;
    font-weight: bold;
    background-color: var(--light-blue-grey);
    text-transform: uppercase;
    border-radius: 3px;
}
.text-line{
    margin-top: 14px;
    font-size: 11px;
    color: var(--warm-grey);
}
.text-line::before{
    content: "--------------------------------------------------------------------------------------";
}
.gallery{
    margin: 22px 0 33px 0;
}
.img-map{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/*Theerd section*/
.new-info{
    position: relative;
    margin: 150px 0 40px 0;
}
.info-color-pink{
    background-color: var(--medium-pink);
    height: 395px;
    transform: rotate(-5deg);
}
.new-info__pos-absolute{
    position: absolute;
    top: 21%;
    right: 17%;
    font-size: 40px;
    line-height: 55px;
    width: 302px;
    font-weight: bold;
    color: var(--white);
}
.img-doughnut{
    position: absolute;
    top: -6%;
    left: 8%;
}
.img-more-doughnut{
    position: absolute;
    top: 31%;
    left: 35%;
}
/*Fourth section*/
.more-new-info{
    position: relative;
    background-image: url("../assets/large-line.png");
    background-size: cover;
    height: 375px;
    width: 100%;
    text-align: center;
}
.position-abssolute{
    position: absolute;
    top: 46%;
    left: 25%;
}
.text-size{
    font-size: 35px;
    font-weight: bold;
}
.text-small-size{
    margin-top: 4px;
    font-size: 16px;
}
.link-contact{
    color: var(--medium-pink);
    text-decoration: none;
}
.link-contact:hover{
    color: var(--medium-pink);
    text-decoration: none;
}
/*Gallery image*/
.image-gallery{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure{
    margin: 0 0; 
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;
}
.gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery__item--3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--4 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--5 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 13;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
}
.gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
}
.gallery__item--9 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--10 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--11 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 13;
}
.gallery__item--12 {
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--13 {
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 8;
}
.gallery__item--14 {
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row-start: 8;
    grid-row-end: 13;
}
.gallery__item--15 {
    grid-column-start: 14;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--16 {
    grid-column-start: 14;
    grid-column-end: 16;
    grid-row-start: 4;
    grid-row-end: 13;
}
/*Last section*/
.price-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.price-title__less-space{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.field{
    margin: 0;
}
.field-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field-flex__less_space{
    margin-top: 24px;
}
.field-flex__more_space{
    margin-top: 45px;
}
.field-one{
    width: 114px;
    height: 42px;
    margin: 2px;
    background-color: var(--white-two);
}
.field-two{
    width: 81px;
    height: 42px;
    margin: 2px;
    background-color: var(--white-two);
}
.field-three{
    width: 109px;
    height: 42px;
    margin: 2px;
    background-color: var(--white-two);
}
.field-four{
    width: 64px;
    height: 42px;
    margin: 2px;
    background-color: var(--white-two);
}
.image-size-s{
    height: 37%;
}
.price{
    margin-bottom: 41px;
}
.price-text{
    margin-bottom: 12px;
    font-size: 14px;
    letter-spacing: 0;
}
.btn-link{
    padding: 5px 8px;
    width: 105px;
    height: 30px;
    border-radius: 1.9px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
/*Style for footer tag*/
.footer{
    width: 100%;
    height: 345px;
    background-color: var(--light-pink);
    position: relative;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.row-text{
    margin-top: 67px;
}
.footer-img{
    width: 128px;
    height: 35px;
}
.footer-text-info{
    width: 272px;
    font-size: 14px;
    color: var(--black-three);
    margin: 17px 0 16px 0;
}

.footer-list-item{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.list-options{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.text__color-pink{
    color: var(--medium-pink);
}
.btn{
    background-color: var(--medium-pink);
    color: var(--white);
}
.btn:hover{
    color: var(--white);
    text-decoration: none;
}

.text-sponsored{
    margin-top: 109px;
    margin-bottom: 27px;
    font-size: 12px;
    color: var(--brownish-grey);
    background-color: transparent;
}

/*move image in footer tag*/
.img__move-left{
    position: absolute;
    left: 0;
    bottom: 0;
}
.img__move-center{
    position: absolute;
    bottom: 0;
    left: 60%;
}
.img__move-right{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 225px;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /*header*/
    .header{
        padding: 18px 45px 17px 30px;
    }
    .item > .link-item {
        font-size: 14px;
    }
    .language{
        font-size: 14px;
    }
    /**/
    .location-title{
        font-size: 40px;
    }
    /**/
    .map-details{
        height: 511px;
    }
    .color--buff{
        font-size: 14px;
    }
    .color--light-pink{
        font-size: 14px;
    }
    .color--light-teal{
        font-size: 14px;
    }
    .color-blue-grey{
        font-size: 14px;
    }
    .text-line::before {
        content: "-------------------------------------------------------";
    }
    .img-map{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    /**/
    .img-doughnut{
        left: 1%;
    }
    .img-more-doughnut{
        left: 38%;
    }
    .new-info__pos-absolute{
        top: 5%;
        right: 2%;
        font-size: 34px;
    }
    /**/
    .more-new-info {
        height: 254px;
    }
    .position-abssolute {
        left: 14%;
    }
    /*section price*/
    .price-image-size {
        height: 30%;
    }
    .field-one{
        width: 100px;
        height: 38px;
    }
    .field-two{
        height: 38px;
    }
    .field-three{
        width: 98px;
        height: 38px;
    }
    .field-four{
        height: 38px;
    }
    /*footer*/
    .img__move-right{
        height: 180px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    body{
        overflow-x: hidden;
    }
    /*header*/
    .navigation{
        min-height: 8vh;
        background-color: var(--light-pink);
    }
    .nav-links{
        position: absolute;
        right: 0%;
        height: 270px;
        top: 10%;
        text-align: left;
        background-color: var(--light-pink);
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links .link-item{
        font-size: 20px;
    }
    .language {
        margin-right: 60px;
    }
    .burger{
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
    }
    .nav-active{
        transform: translateX(0%);
    }
    
    @keyframes nacLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    
    .toggle .line2{
        opacity: 0;
    }
    
    .toggle .line3{
        transform: rotate(45deg) translate(-7px, -7px);
    }
    /**/
    .location-text{
        width: 620px;
    }
    /**/
    .map-details{
        height: 527px;
    }
    .contact-place{
        width: 175px;
    }
    .color--buff{
        font-size: 8px;
    }
    .color--light-pink{
        font-size: 8px;
    }
    .color--light-teal{
        font-size: 8px;
    }
    .color-blue-grey{
        font-size: 8px;
    }
    .text-line::before{
        content: "--------------------------------";
    }
    /**/
    .img-doughnut{
        height: 60%;
    }
    .img-more-doughnut{
        height: 70%;
        top: 38%;
        left: 35%;
    }
    .new-info__pos-absolute{
        width: 200px;
        top: 16%;
        right: 4%;
        font-size: 23px;
        line-height: 25px;
    }
    /**/
    .position-abssolute{
        top: 30%;
    }
    .more-new-info {
        height: 180px;
    }
    .text-size {
        font-size: 26px;
    }
    /**/
    .price-image-size{
        height: 20%;
    }
    .footer{
        width: 100%;
        height: 100%;
    }
    .row-text {
        margin-top: 25px;
    }
    .img__move-center {
        left: 50%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .burger{
        right: 22%;
    }
    /**/
    .map-details {
        height: 967px;
    }
    /**/
    .field-flex{
        flex-wrap: wrap;
        justify-content: left;
    }
    /**/
    .new-info{
        margin: 100px 0 40px 0;
    }
    .img-doughnut{
        height: 40%;
    }
    .img-more-doughnut{
        height: 60%;
    }
    /**/
    .img__move-center {
        left: 0%;
    }
    .img__move-right {
        height: 170px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*header*/
    .header {
        padding: 18px 58px 17px 0px;
    }
    .language {
        margin-right: -8px;
    }
    .burger{
        right: 3%;
    }
    .burger div{
        height: 4px;
    }
    /**/
    .location-text{
        width: 100%;
    }
    .position-abssolute{
        left: 6%;
        top: 32%;
    }
    .text-size {
        font-size: 18px;
    }
    /*section price*/
    .price-image-size {
        height: 45%;
    }
    .field-flex__more_space {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .field-flex__less_space {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    /*footer*/
    .footer {
        overflow: hidden;
    }
    .footer-flex{
        flex-direction: column;
    }
    .img__move-center {
        left: 30%;
        height: 75px;
    }
    .img__move-right {
        height: 120px;
    }
    .img__move-left{
        height: 110px;
    }
    .text-sponsored{
        margin-top: 12px;
        width: 186px;
    }
}

@media (max-width: 320px) {
    /**/
    .map-details {
        height: 1467px;
    }
    /**/
    .contact-place {
        width: 220px;
    }
    .text-line::before{
        content: "--------";
    }
    .gallery img{
        width: 100%;
    }
    /**/
    .new-info__pos-absolute{
        top: 30%;
        right: 10%;
    }
    .img-doughnut{
        height: 30%;
    }
    .img-more-doughnut{
        height: 40%;
        top: 65%;
        left: 56%;
    }
    /**/
    .position-abssolute{
        top: 29%;
        left: 2%;
    }
}